* {
  font-family: 'Ubuntu Mono', monospace;
}
.content {
  margin: auto;
  max-width: 800px;
  padding: 10px;
}
h1,
h2,
h3,
h4,
h5 {
  background-color: #242837;
}
h1 {
  color: #c792ea;
}
h2 {
  color: #89DDFF;
}
h3 {
  color: #ff5370;
}
h4 {
  color: #bb80b3;
}
h5 {
  color: #ffcb6b;
}
div {
  background-color: #242837;
  color: #82aaff;
}
div .nav {
  float: left;
}
div .key {
  color: #82aaff;
}
div p {
  background-color: #242837 !important;
  color: #82aaff !important;
}
div pre {
  background-color: #242837 !important;
}
div pre code {
  background-color: #242837 !important;
  color: #82aaff !important;
}
div pre code:hover {
  background-color: #242837 !important;
  color: #82aaff !important;
}
div table {
  border: 1px solid #89ddff;
}
div table tr {
  border: 1px solid #89ddff;
}
div table tr td {
  background-color: #242837;
  border: 1px solid #89ddff;
  color: #89ddff;
  text-align: center;
}
.nav ul {
  background-color: #242837;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.nav li {
  float: left;
}
.nav li a {
  color: #82aaff;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}
.nav li a:hover {
  background-color: #101218;
}
.nav li a .focused {
  background-color: #040406;
}
html {
  background-color: #242837;
}
ul li {
  padding-top: 10px;
}
ul li a {
  color: #82aaff;
}
a {
  color: #82aaff;
}
.bind {
  background-color: #242837;
}
.bind:hover {
  background-color: #242837 !important;
  color: #89ddff;
}
ol li {
  background-color: #242837;
}
section p {
  background-color: #242837;
  color: #1c65ff;
}
.newtab {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
  gap: 2px 2px;
  border: 1px solid #82aaff;
  grid-template-areas: ". pagehead ." "commonLinks xplr internal" "commonLinks suckless internal" "awesomewm fennel info";
}
.pagehead {
  grid-area: pagehead;
}
.commonLinks {
  grid-area: commonLinks;
}
.internal {
  grid-area: internal;
}
.xplr {
  grid-area: xplr;
}
.suckless {
  grid-area: suckless;
}
.awesomewm {
  grid-area: awesomewm;
}
.info {
  grid-area: info;
}
.fennel {
  grid-area: fennel;
}
.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5px 5px solid #242837;
  border: 1px solid #82aaff;
  grid-template-areas: "home projects links jamjam gitea blogs";
  justify-items: center;
  align-items: center;
}
.home {
  grid-area: home;
}
.projects {
  grid-area: projects;
}
.links {
  grid-area: links;
}
.jamjam {
  grid-area: jamjam;
}
.gitea {
  grid-area: gitea;
}
.blogs {
  grid-area: blogs;
}
@media screen and (max-width: 480px) {
  .navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 2px 2px solid;
    border: 1px solid #82aaff;
    grid-template-areas: "home projects links" "jamjam blogs gitea";
  }
  .newtab {
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 0.3fr 1.1fr 1fr 1fr 1fr;
    gap: 2px 2px;
    border: 1px solid #82aaff;
    grid-template-areas: ". pagehead pagehead ." "commonLinks commonLinks internal internal" "xplr xplr suckless suckless" "fennel fennel awesomewm awesomewm" ". info info .";
  }
  h1,
  h2 {
    text-align: center;
  }
}
