.wikipage {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.5fr auto 0.5fr auto auto;
  gap: 0px 0px;
  grid-template-areas: ". title ." ". summary ." ". subtitle ." ". pageContent ." ". footer .      ";
  justify-content: center;
}
.title {
  grid-area: title;
}
.summary {
  grid-area: summary;
}
.subtitle {
  grid-area: subtitle;
}
.pageContent {
  grid-area: pageContent;
}
.footer {
  grid-area: footer;
}
